= simple_form_for(@article, html: {class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :url
    = f.input :site_text
    = f.input :author
    = f.input :headline

  .form-actions
    = f.button :submit
